.hero-text {
  display: inline-block;
  position: relative;
  font-size: 19px;
}

.hero-svg {
  position: absolute;
  left: 0.2em;
  z-index: -1;
  width: calc(100% - 0.7em);
  height: auto;
  color: var(--vp-c-brand);
}
